<main role="main" class="container">
    <div class='periodic-title'>
      <h1>Periodic table</h1>
    </div>
    <div class='table-responsive'>
      <table class='table'>
        <thead>
          <tr>
            <th>
              <input type="checkbox">
            </th>
            <th>Number</th>
            <th>Name</th>
            <th>Mass</th>
            <th>Symbol</th>
          </tr>
        </thead>
            <tbody>
              <tr>
              <input type="checkbox">
              <td>{{ table.tableNumber }}</td>
              <td>{{ table.tableName }}</td>
              <td>{{ table.tableMass }}</td>
              <td>{{ table.tableSymbol }}</td>
              </tr>

                    
            </tbody>
            
        

      </table>

      <script>
        fetch("table.json")
        //var myArray = [
        //  {'name':'Hydrogen', 'mass':'1,008', 'number':'1', 'symbol':'H'}
        //]
      </script>


    </div>
  </main>