<main role="main" class="container">
    <div class='periodic-title'>
      <h1>Periodic table</h1>
    </div>
    <div class='table-responsive'>
      <table class='table'>
        <thead>
          <tr>
            <th>
              <input type="checkbox">
            </th>
            <th>Number</th>
            <th>Name</th>
            <th>Mass</th>
            <th>Symbol</th>
          </tr>
        </thead>
            <tbody>
              <tr *ngFor='let periodic in periodics'>
                <input type="checkbox">
                  <td>{{ periodic.name }}</td>
                  <td>{{ periodic.mass }}</td>
                  <td>{{ periodic.number }}</td>
                  <td>{{ periodic.symbol }}</td>
              </tr>
            </tbody>
            


    </div>
  </main>