<main role="main" class="container">
    <div class='periodic-title'>
      <h1>Periodic table</h1>
    </div>
    <div class='table-responsive'>
      <table class='table'>
        <thead>
          <tr>
            <th>
              <input type="checkbox" (change)="get">
            </th>
            <th>Number</th>
            <th>Name</th>
            <th>Mass</th>
            <th>Symbol</th>
          </tr>
        </thead>
            <tbody *ngFor='let periodic of table'>
              <tr>
                <input type="checkbox" (change)="getPeriodic($event,periodic)">
                  <td>{{ periodic.name }}</td>
                  <td>{{ periodic.mass }}</td>
                  <td>{{ periodic.number }}</td>
                  <td>{{ periodic.symbol }}</td>
              </tr>
            </tbody>
      </table>
            
      <button class="confirm" onclick="periodic">Confirm</button>


    </div>
  </main>